<div class="col-lg-6">
  <div class="panel panel-primary">
    <div class="panel-heading">Switch Port DB</div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Datapath ID</th>
            <th>MAC Address</th>
            <th>Port</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>00:01:23:54:fe:6c</td>
            <td>78:31:c1:d3:64:8c</td>
            <td>7</td>
          </tr>
          <tr>
            <td>00:01:23:54:fe:6c</td>
            <td>78:31:c1:d3:64:8c</td>
            <td>7</td>
          </tr>
          <tr>
            <td>00:01:23:54:fe:6c</td>
            <td>78:31:c1:d3:64:8c</td>
            <td>7</td>
          </tr>
          <tr>
            <td>00:01:23:54:fe:6c</td>
            <td>78:31:c1:d3:64:8c</td>
            <td>7</td>
          </tr>
          <tr>
            <td>00:01:23:54:fe:6c</td>
            <td>78:31:c1:d3:64:8c</td>
            <td>7</td>
          </tr>
          <tr>
            <td>00:01:23:54:fe:6c</td>
            <td>78:31:c1:d3:64:8c</td>
            <td>7</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="col-lg-6">
  <div class="panel panel-primary">
    <div class="panel-heading">Process Allocation</div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Process Rank</th>
            <th>MAC Address</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>0</td>
            <td>78:31:c1:d3:64:8c</td>
          </tr>
          <tr>
            <td>0</td>
            <td>78:31:c1:d3:64:8c</td>
          </tr>
          <tr>
            <td>0</td>
            <td>78:31:c1:d3:64:8c</td>
          </tr>
          <tr>
            <td>0</td>
            <td>78:31:c1:d3:64:8c</td>
          </tr>
          <tr>
            <td>0</td>
            <td>78:31:c1:d3:64:8c</td>
          </tr>
          <tr>
            <td>0</td>
            <td>78:31:c1:d3:64:8c</td>
          </tr>
        </tbody>
       </table>
    </div>
  </div>
</div>
